.header {
    text-align: center;
    padding: 50px;
    color: white;
    margin-bottom: 30px;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: color 0.3s ease, text-shadow 0.3s ease;
    background-image: url('https://media.istockphoto.com/id/518253604/vector/business-and-shopping-icon-background.jpg?s=612x612&w=0&k=20&c=tu8i1OCKN5LX7QtjCUNnavKXE6jLn6xOtGgTRSIBs2I=');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed
  }
  
  .header h1 {
    letter-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .header:hover {
    color: darkblue;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
  }
  